r<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @blog.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Description:</strong>-->
  <%#= @blog.description %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Text:</strong>-->
  <%#= @blog.text %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Published:</strong>-->
  <%#= @blog.published %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Published at:</strong>-->
  <%#= @blog.published_at %>
<!--</p>-->

<!--<p>-->
<!--  <strong>User:</strong>-->
  <%#= @blog.user_id %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_blog_path(@blog) %> |-->
<%#= link_to 'Back', blogs_path %>
<div style="width: 100%; height: 300px; overflow-y:hidden">
  <%= image_tag(@blog.banner, style: 'width: 100%') %>
</div>
  <%= link_to @blog.title, root_path %>
