
<div class="hotel">
<div class="container">

  <div class="row">
    <% @hotels.each do |hotel| %>
<!--      width: 100%;-->
<!--      height: 100%;-->
<!--      object-fit: cover-->

      <div class=" col-md-4 border d-flex flex-column  align-items-center">
        <div class="image-resize">
          <%= image_tag(hotel.img_url, :class => "img_fluid") %>
        </div>
        <h2><%= hotel.hotel_name %></h2>
        <%# if current_user.nil? %>
<!--          <script type="text/javascript">-->
<!--              window.location.href=" /users/sign_in"  // put your correct path in a string here-->
<!--          </script>-->
          <%# else %>
        <div class=" btn btn-dark fw-bold">
        <%= link_to 'Check Rooms',user_hotels_details_path(hotel_id: hotel) %>
        </div>
          <%# end %>
      </div>




    <% end %>
  </div>
</div></div>