// Place all the styles related to the User_Package controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pack_image{

  img{
    background-position: center;
    background-size: cover;
    background-attachment: inherit;
  }
}