// Place all the styles related to the User_Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_rooms {
.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
}
  input{
    outline: none;
    border: none;
    width: 100%;

  }
  .book{
    padding: 40px 0;
    background: #282834;
    color: #fff;
  }
  .book h1{
    font-family: Serif;
    font-size: 28px;

  }
  .book h1 span{
    color: #7fc142;

  }
  .book input{
    padding: 20px;
  }
  .book input:nth-last-child(1){

    background: #7fc142;
    color: #fff;
  }
  .submit{
    padding-bottom: 20px;
    margin-right: 20px;

  }
  .commit{
    padding-bottom: 20px;
    margin-right: 20px;

  }
}