// Place all the styles related to the User_Place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.place_image{

  img{
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}