// Place all the styles related to the User_Hotel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user_hotels {
  //background: #282834;
.hotel{
 //background: #666666;
}
  .modalss{
    text-align: right;
  }
  .image-resize{
    height: 250px;
    width :90%;
  }
.img_fluid{
  width: 100%;
  height: 100%;
  object-fit: cover}

}
